.editTaskModalContent {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    border: 1px solid #d7dce0;
    background-color: #ecf3f7;
    animation: slideIn 0.5s ease-in-out;
}

.editTaskForm {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.editTaskForm__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.editTaskForm__left,
.editTaskForm__right {
    display: flex;
    padding: 30px;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
}

.editTaskForm__label {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    color: #9f9ea7;
}

.editTaskForm__submitButton {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.editTaskForm__submitButton:hover {
    background-color: #45a049;
}

.editTaskForm__right {
    border-left: 1px solid #d7dce0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.editTaskForm__statusCircle-large {
    width: 40px;
    height: 40px;
    border: 1px solid #c5cdd3;
}

.editTaskForm__statusCircle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: inline-block;
}

.editTaskForm__statusContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.editTaskForm__commentTitle {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
