.editTaskModalContent {
    position: absolute;
    width: 976px;
    right: 0;
    height: 100%;
    z-index: 1;
    border: 1px solid #d7dce0;
    background-color: #ecf3f7;
    animation: slideIn 0.5s ease-in-out;
}

.editTaskForm {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.editTaskForm__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    max-width: 657px;
    line-height: 1.13em;
}

.editTaskForm__right {
    border-left: 1px solid #d7dce0;
    padding: 24px 28px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 304px;
    max-width: 304px;
}

.editTaskForm__left {
    display: flex;
    padding: 25px 30px;
    gap: 45px;
    flex-direction: column;
    align-items: flex-start;
    height: 85%;
    width: 100%;
    overflow-y: auto;
}

.editTaskForm__label {
    font-family: "Ubuntu Light", sans-serif;
    font-size: 14px;
    color: #9f9ea7;
}

.editTaskForm__submitButton {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.editTaskForm__submitButton:hover {
    background-color: #45a049;
}

.editTaskForm__statusCircle-large {
    width: 40px;
    height: 40px;
    border: 1px solid #c5cdd3;
    background-color: #f5f5f5;
    border-radius: 50px;
}

.editTaskForm__statusCircle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: inline-block;
}

.editTaskForm__statusContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.editTaskForm__commentTitle {
    font-family: "Ubuntu Light", serif;
    font-size: 14px;
    font-weight: normal;
}

.editTaskForm__date {
    font-family: "CorporateACyr", sans-serif;
    font-size: 12px;
}

.editTaskForm__comment_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-top: 8px;
}

.editTaskForm__comment_field {
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
    min-width: 300px;
    max-width: 624px;
    background-color: #e3e9f4;
    border: 1px solid #e3e9f4;
    border-radius: 5px;
    text-align: left;
    padding: 5px 10px;
    outline: none;
    line-height: 1.2em;
}

.editTaskForm__outer_container {
    display: flex;
    gap: 10px;
}

.editTaskForm__statusContainer_active {
    cursor: pointer;
    color: #3796f8;
    gap: 9px;
}

.editTaskForm_description {
    text-align: left;
    white-space: pre-line
}

.editTaskForm__tags {
    border: 1px solid #9da1aa;
    border-radius: 10px;
    font-family: "Roboto Light",serif;
    font-size: 12px;
    color: #9da1aa;
    background-color: #FFFFFF;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 160px;
}

.editTaskForm__tags_container {
    display: flex;
    gap: 6px;
    margin-top: 7px;
    flex-wrap: wrap;
}

.editTaskForm__main_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 8px;
    gap: 47px;
}

.editTaskForm__comment_add-field {
    font-family: "Ubuntu Light", sans-serif;
    font-size: 14px;
    color: #000000;
    width: 600px;
    background-color: transparent;
    border: none;
    text-align: left;
    outline: none;
    line-height: 1.2em;
}

.editTaskForm__comment_add-field::placeholder {
    color: #9f9ea7;
}

.editTaskForm__error-message {
    position: absolute;
    color: red;
    margin-top: 20px;
    font-size: 12px;
}

.editTaskForm__comment_add-field.error {
    border: 1px solid red;
    border-radius: 5px;
}