.titleBar-container {
    background-color: #1a4876;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 28px;
    color: #FFFFFF;
    text-align: left;
}

.titleBar-title {
    font-family: "Myriad Pro", serif;
    font-size: 18px;
    font-weight: normal;
    margin-left: 8px;
}

.titleBar-close {
    background-color: #1a4876;
}

.titleBar-description {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.1em;
    max-width: 560px;
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titleBar-text-container {
    display: flex;
    align-items: center;
    gap: 25px;
}
