.taskList-button {
    background-color: #3796f8;
    color: #FFFFFF;
    border-radius: 20px;
    font-family: "Ubuntu Light", sans-serif;
    font-size: 16px;
    padding: 11px 34px;
    cursor: pointer;
}

.taskList-table {
    border-collapse: collapse;
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
    width: 100%;
}

.taskList-table th {
    font-family: "Ubuntu Light", sans-serif;
    border-bottom: 1px solid #ddd;
}

.taskList-table td {
    border-bottom: 1px solid #ddd;
    padding: 3px;
}

.taskList-status {
    color: #FFFFFF;
    text-align: left;
    border-radius: 20px;
    font-size: 0.75em;
    padding: 4px 16px;
    width: fit-content;
    max-width: 100px;
    margin-left: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.taskList-priority-bar {
    border-left-width: 5px;
    border-left-style: solid;
    padding: 15px 15px 15px 40px;
}

.taskList-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 90%;
    overflow-y: scroll;
}

.taskList-button-container {
    padding: 25px 0 14px 262px;
}

.taskList__table-title {
    border-left: 1px solid #e2e7ea;
    padding-left: 15px;
}

.taskList__table-title-container {
    padding: 10px 0 14px;
}

.taskList-id {
    text-align: center;
}

.taskList-executor {
    text-align: left;
    padding-left: 30px;
}

.taskList-name {
    text-align: left;
    max-height: 32px;
    overflow: hidden;
    line-height: 1em;
    padding-left: 15px;
}